body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Open Sans';
}

.header {
    width: 100%; 
    height: 15%;
    padding: 75.25px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header__tab {
    width: 180px;
    height: 36px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2.2px;
    font-family: 'Open Sans';
    font-size: 18.5px;
    left: 5px;
    position: relative;
}

.header__tab--clicked {
    color:white;
    background-color: black; 
}

.header__info {
    display: none;
    text-align: center;
    padding-top: 40px;
    font-size: 12px;    
    position: absolute;
    width: 670px;
    top: 124px;
    line-height: 1.4;
}

.header__info:nth-of-type(6) {
    width: 670px;
    top: 116px;
    line-height: 1.18;
}
.header__info--clicked {
    display: block;
    /* order: 1; */
}

.percentages__item {
    /* list-style-type: none; */
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
    width: 158px;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.percentages__name {
    font-size: 22px;
}

.percentages {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    padding: 0;
    /* line-height: 0.95; */
    margin: 0;
}

.header__dash {
    width: 45px;
    border-top: 1px solid black;
    margin: 25px auto;
    padding-bottom: 7px;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .header {
        padding: 0;
    }
    .header__tab {
        width: 100%;
        justify-content: space-between;
        padding-left: 25px;
        left: 0;
        height: 57px;
        border-left: 0;
        border-right: 0; 
    }
    .header__tab:nth-of-type(1), .header__tab:nth-of-type(3) {
        border-bottom: none; 
    } 
    .header__tab--clicked {
        border-bottom: none; 
        color: inherit;
        background-color: inherit;
    }
    .header__info {
        width: 90%;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        display: block;
        transition: max-height 0.3s ease-out;
        font-size: 16px;
        position: relative;
        top: 0;
    }
    .header__info:nth-of-type(6) {
        top:0;
        width: 90%;
    }
    .percentages{
        justify-content: space-around;
    }
    .percentages__item {
        font-size:45px;
        width: auto;
    }
    .percentages__name{
        font-size:18px;
    }
    .header__info--clicked {
        order: inherit;
        max-height: 500px;
        padding-bottom: 5%;
    }
    .header__tab:after {
        content: '+';
        padding: 0px 8px 5px 0;
    }
    .header__tab--clicked:after {
        content: "-";
    }
    .header__dash {
        width: 56px;
        margin: 25px auto;
        padding-bottom: 0;
    }
  }