body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    /* height: 100vh; */
    font-family: 'open sans-bold'
}

.headers {
    width: 100%; 
    height: 15%;
    padding: 5% 0 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    width: 18vw;
    height: 7vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
}

.tabClicked {
    color:white;
    background-color: black; 
}

.infoBody {
    display: flex;
    justify-content: center;
    width: 100%;
}

.infoTab {
    width: 60%;
    text-align: center;
}

.fitGuide, .care, .materials {
    display: none;
}

.showInfo {
    display: block;
}

li {
    list-style-type: none;
    width: 140px;
    font-size: 3rem;
    margin: 0;
}

li > div {
    font-size: 1.5rem;
}

.percentages {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    padding: 0;
    line-height: 1;
}

.dash {
    width: 55px;
    margin: 25px auto;
    border-top: 1px solid black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .infoTab {
        width: 85%;
    }
    #headers {
        width: 100%;
        flex-direction: column;
        padding: 0 0 5% 0;
    }
    .tab {
        width: 95%;
        justify-content: flex-start;
        padding-left: 5%;
    }
    .tabClicked {
        color: inherit;
        background-color: inherit;
    }
  }