@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}

.headers {
    width: 100%; 
    height: 15%;
    padding: 2% 0 3% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tab {
    width: 18vw;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Open Sans';
}

.tabClicked {
    color:white;
    background-color: black; 
}

.fitGuide, .care, .materials {
    display: none;
    width: 60%;
    text-align: center;
    padding: 2.5% 0 2.5% 0;
}

.showInfo {
    display: block;
    order: 1;
}

li {
    list-style-type: none;
    width: 140px;
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

li > div {
    font-size: 1.5rem;
}

.percentages {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    padding: 0;
    line-height: 1;
}

.dash {
    width: 55px;
    margin: 25px auto;
    border-top: 1px solid black;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .tab {
        width: 95%;
        justify-content: space-between;
        padding: 0 5% 0;
    }
    .tabClicked {
        color: inherit;
        background-color: inherit;
    }
    .fitGuide, .care, .materials {
        width: 90%;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        display: block;
        transition: max-height 0.3s ease-out;
    }
    .showInfo{
        order: inherit;
        max-height: 250px;
        padding: 2.5% 0;
    }
    .tab:after {
        content: '+';
    }
    .tabClicked:after {
        content: "-";
    }
  }