body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}

.headers {
    width: 100%; 
    height: 15%;
    padding: 5.25% 0 3% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tab {
    width: 180px;
    height: 37px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2.2px;
    font-family: 'Open Sans';
    font-size: 18.5px;
}

.tabClicked {
    color:white;
    background-color: black; 
}

.fitGuide, .care, .materials {
    display: none;
    width: 60%;
    text-align: center;
    padding: 2.9% 26% 2.5% 26%;
    font-size: 16px;
}

.fitGuide, .care {
    padding: 3.9% 26% 2.5% 26%;

}

.showInfo {
    display: block;
    order: 1;
}

li {
    list-style-type: none;
    width: 157px;
    font-size: 3.27rem;
    margin: 0;
    text-align: center;
}

li > div {
    font-size: 1.5rem;
}

.percentages {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    padding: 0;
    line-height: 0.95;
}

.dash {
    width: 55px;
    margin: 25px auto;
    border-top: 1px solid black;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .headers{
        padding: 0;
    }
    .tab {
        width: 95%;
        justify-content: space-between;
        padding: 0 5% 0;
        height: 55px;
        border-left: 0;
        border-right: 0; 
    }
    .tabClicked {
        color: inherit;
        background-color: inherit;
        border-bottom: none; 
    }
    .fitGuide, .care, .materials {
        width: 90%;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        display: block;
        transition: max-height 0.3s ease-out;
        font-size: 18px;
    }
    .percentages {
        margin-top: 10px;
    }
    .showInfo{
        order: inherit;
        max-height: 500px;
        padding-bottom: 5%;
    }
    .tab:after {
        content: '+';
    }
    .tabClicked:after {
        content: "-";
    }
  }